@import 'fonts/climacons.css';

body,
html {
  height: 100%;
  background: #ccc;
}

body {
  font-family: Helvetica, sans-serif;
  letter-spacing: -0.2px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  color: #dce1e7;
  font-size: 95px;
}
